@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
/*font-family: 'Rubik', sans-serif; *

@font-face {
   font-family: "newRubik";
   src: url(../font/rubik/Rubik-Light.ttf)
}
*/
* {
   box-sizing: border-box;
}

body {
    font-size: 15pt;
    margin: 0;
    padding: 0;
    padding-bottom: 70px;
    scroll-padding-top: 50px;
    background: rgba(0,0,0,.15);
    font-family: 'Rubik', sans-serif;
}

.dis-none {
   display: none !important;
}

.boxes {
   position: relative;
   padding: 10px;
   border-radius: 7px;
   box-shadow: 0 0 20px rgba(0,0,0,.2);
   margin: 10px auto;
   background: white;
   width: min(600px, 95%);
}
.boxes .span {
   display: block;
   font-size: 14px;
   margin: 0 auto;
   text-align: center;
   padding: 0;
   font-weight: bolder;
}
.fa-whatsapp {
   color: white !important;
   background: linear-gradient(45deg, lime, green) !important;
   padding: 4px 5px;
   border-radius: 3px;
}
.fa-phone {
   color: white !important;
   background: linear-gradient(45deg, skyblue, deepskyblue) !important;
   padding: 4px 5px;
   border-radius: 3px;
}
.row {
   display: flex !important;
   margin: 0 0px;
   padding: 0;
   flex-wrap: nowrap !important;
   justify-content: stretch;
   align-items: center;
}
nav {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100vw;
   margin: 0;
   padding: 0 10px;
   display: flex;
   justify-content: space-between;
   border-radius: 15px 15px 0 0;
   z-index: 1000;
}
nav::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100vw;
   height: 76%;
   background: linear-gradient(45deg, darkcyan, darkcyan);
}
nav .nav-link {
   z-index: 2;
   width: calc(100vw / 5 - 20px);
   text-align: center;
   padding: 0;
   color: white;
   position: relative;
}
.adds {
   position: fixed;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   font-size: 12px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100vw;
   gap: 20px;
   /*background: rgba(255,255,255,0);
   backdrop-filter: blur(20px);*/
   height: fit-content;
   z-index: 120;
   padding: 12px;
   border-radius: 4px;
   overflow: hidden;
   transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.adds.active {
   bottom: 65px;
}
.adds .adds-btn {
   padding: 3px 10px;
   border-radius: 7px;
   background: darkcyan;
   width: calc(50% - 35px);
   text-align: center;
   height: fit-content;
   border: 2px solid white;
   color: white;
   font-weight: bolder;
   text-transform: uppercase;
   transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.adds .adds-btn:nth-child(1) {
   transform: translate(-50vw, 0);
}
.adds .adds-btn:nth-child(2) {
   transform: translate(50vw, 0);
}
.adds.active .adds-btn {
   transform: translate(0,0);
}

nav .nav-link i {
   width: 80%;
   aspect-ratio: 1;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   margin: 0 auto;
   padding: 0;
}
nav .navix i {
   align-items: center;
}
nav .navix i::after {
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background: darkcyan;
   z-index: -1;
   transform: rotate(0);
   border-radius: 7px;
   border-bottom: 3px solid white;
   border-right: 0px solid white;
   color: white !important;
   transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
}
nav .navix.active i::after {
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background: darkcyan;
   transform: rotate(405deg);
   z-index: -1;
   border-radius: 7px;
   border-bottom: 3px solid white;
   border-right: 3px solid white;
   color: white !important;
}
nav .nav-link.on i {
   color: gold;
}
nav .nav-link.on i::after {
   content: "";
   width: 100%;
   height: 20%;
   position: absolute;
   top: 32%;
   left: 0;
   background: gold;
   z-index: -1;
   border-radius: 7px;
   border: 3px solid darkcyan;
}
nav .nav-link.on span {
   font-weight: bolder;
}
nav .nav-link span {
   font-size: 9px;
   margin: 0;
   text-transform: uppercase;
}

#timer {
   position: sticky;
   top: 10px;
   display: flex;
   justify-content: space-between;
   font-size: 12px;
   background: darkcyan;
   color: white;
   font-weight: bolder;
   z-index: 101;
}
#timer span:nth-child(2){
   width: 70px;
   text-align: left;

}
.cal-head {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 13px;
}
#calendar-day {
   display : flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 0 4px;
   border-bottom: 1px solid transparent;
   margin: 10px 0 0;
   font-size: 12px;
}
#calendar-day span {
   width: calc(100% / 7 - 3px);
   text-align: center;
   background: linear-gradient(45deg,  cyan, darkcyan);
   border-radius: 3px;
   color: whitesmoke;
   font-weight: bold;
}

#calendar-date {
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   align-items: center;
   gap: 3.4px;
}
.date-box {
   width: calc(100% / 7 - 3px);
   aspect-ratio: 1;
   border-radius: 3px;
   background: linear-gradient(45deg, white,  lightgray);
   margin: 0 0 3px;
   padding: 2px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   overflow: hidden;
   position: relative;
}
.date-box.begin {
   background: transparent !important;
}
.date-box.today {
   background: linear-gradient(45deg, cyan, darkcyan) !important;
   border: none !important;
   border-radius: 3px !important;
}

/*.date-box.today::after, */
.date-box.al::after,
.date-box.ro::after,
.date-box.off::after{
   content: "";
   position: absolute;
   left: 2px;
   top: 50%;
   transform: translate(0, -50%);
   height: 22px;
   background: linear-gradient(45deg,  transparent, transparent);
   border-left: 1.3px solid red;
}

.date-box.today::after {
   content: "";
   position: absolute;
   left: 2px;
   top: 50%;
   transform: translate(0, -50%);
   height: 22px;
   border-left: 1.3px solid white;
   background: white;
}

/* .date-box.al::after,
.date-box.ro::after,
.date-box.off::after{
   background: red;
} */

.date-box .date-main {
   z-index: 2 !important;
}
.date-box.today .date-main{
   color: white !important;
   font-weight: bolder;
   z-index: 2 !important;
   /* 1 pixel black shadow to left, top, right and bottom *
   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}
.date-box.off .date-main, 
.date-box.ro .date-main, 
.date-box.al .date-main{
   color: red;
   font-weight: bolder;
   z-index: 2 !important;
   /* 1 pixel black shadow to left, top, right and bottom *
   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */

}
.date-fu, .date-as {
   height: calc(100% / 5);
   padding: 0;
   margin: 0;
   overflow: hidden;
   width: 100%;
   display: flex;
   gap: 3px;
}
.date-box .date-fu{
   justify-content: flex-start;
}
.date-box .date-as {
   justify-content: flex-end;
}
.date-data {
   height: 100%;
   width: 7px;
   border-radius: 1.5px;
   z-index: 100;
}
.date-box .date-main {
   display: flex;
   align-items: flex-end;
   font-size: 12px;
   width: 100%;
   padding: 0;
   padding-left: 5px;
   margin: 0;
   font-weight: bolder;
   color: darkcyan ;
}
.date-box .date-main .sch {
   font-size: 6px;
}
.prepare, .success {
   background: linear-gradient(20deg,  limegreen, darkgreen);
   color: #fff !important;
}
.in, .on_progres{
   background: linear-gradient(20deg,  lightblue, blue);
   color: #fff !important;
}
.shipping {
   background: linear-gradient(20deg,  mediumpurple, purple);
   color: #fff !important;
}
.ready {
   background: linear-gradient(20deg,  deepskyblue, darkblue);
   color: #fff !important;
}
.arrived {
   background: linear-gradient(20deg,  sandybrown, saddlebrown);
   color: #fff !important;
}
.delivery, .out {
   background: linear-gradient(20deg,  red, darkred);
   color: #fff !important;
}
.instal, .pending {
   background: linear-gradient(20deg,  yellow, gold);
   color: #000 !important;
}
.past, .fail {
   background: linear-gradient(20deg,  gray, black);
   color: #fff !important;
}

.date-data-list {
   display: none;
   position: fixed;
   top: 30px;
   left: 30px;
   width: calc(100% - 60px);
   height: calc(100% - 100px);
   margin: 0;
   padding: 10px;
   background: linear-gradient(45deg, white, white);
   z-index: 4;
   border-radius: 10px;
   overflow: hidden;
   z-index: 10000000;
}

#date-data-list-bg{
   position: fixed;
   background: rgba(0,0,0,.5);
   backdrop-filter: blur(3px);
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   z-index: 3;
   display: none;
   z-index: 100000;
}

.list-data {
   overflow-y: scroll;
   overflow-x: hidden;
   height: calc(100% - 35px);
   border-radius: 5px;
}

.list-head {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0;
   padding: 0;
   font-weight: bolder;
   border-bottom: 2px solid darkcyan;
}
.data-grup {
   margin: 4px 0;
   padding: 10px;
}
.data-grup .grup-type {
   font-weight: bold;
   font-size: 16px;
   padding: 4px 14px;
   border-radius: 4px;
}

.type-data {
   padding: 2px;
   font-weight: bold;
   font-size: 13px;
   margin: 3px 0 3px 15px;
   border-radius: 4px;
   overflow: hidden;
   display: flex;
   justify-content: stretch;
   align-items: center;
   padding-right: 4px;
   gap: 5px;
}
.type-data i.fa-chevron-right {
   color: white;
   margin-left: auto;
   width: 20px;
   height: 20px;
   text-align: right;
   font-size: 1rem;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.type-data a {
   text-decoration: none!important;
   color: #124;
}
.grup-type.fu-in {
   background: deepskyblue;
   color: white;
}
.type-data.fu-in {
   background: linear-gradient(45deg, white, deepskyblue);
   color: #124;
}
.grup-type.fu-out {
   background: darkred;
   color: white;
}
.type-data.fu-out {
   background: linear-gradient(45deg, white, darkred);
   color: #124;
}
.grup-type.as-prepare {
   background: limegreen;
   color: white;
}
.type-data.as-prepare {
   background: linear-gradient(45deg, white, limegreen);
   color: #124;
}
.grup-type.as-shipping {
   background: purple;
   color: white;
}
.type-data.as-shipping {
   background: linear-gradient(45deg, white, purple);
   color: #124;
}
.grup-type.as-ready {
   background: blue;
   color: white;
}
.type-data.as-ready {
   background: linear-gradient(45deg, white, blue);
   color: #124;
}
.grup-type.as-instal {
   background: gold;
   color: white;
}
.type-data.as-instal {
   background: linear-gradient(45deg, white, gold);
   color: #124;
}
.grup-type.as-past {
   background: black;
   color: white;
}
.type-data.as-past {
   background: linear-gradient(45deg, white, black);
   color: #124;
}
.grup-type.as-delivery {
   background: red;
   color: white;
}
.type-data.as-delivery {
   background: linear-gradient(45deg, white, red);
   color: #124;
}

.calendar-note {
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   font-size: 8px;
}
.note-grup {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: calc(100% / 4);
   gap: 3px;
   font-weight: bold;
   color: #124;
}
.date-note {
   width: 11px;
   height: 11px;
   border-radius: 1.5px;
}





.pages-box {
   position: fixed;
   width: calc(100% - 10px);
   height: calc(100% - 75px);
   top: 5px;
   left: 5px;
   background: linear-gradient(45deg, white, white);
   border-radius: 10px;
   padding: 10px;
   box-shadow: 0 0 10px rgba(0,0,0,.5);
   z-index: 105;
   transition: all 1s cubic-bezier(0.23, 1, 0.320, 1);
}
.pages-box.off {
   top: 100%;
}
.page-head {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.page-head h4 {
   background: darkcyan;
   width: 100%;
   color: white;
   text-align: center;
   padding: 5px;
   font-weight: bolder;
   border-radius: 6px 6px 0 0;
}
.page-head input {
   width: 100%;
   font-size: 13px;
   border: 2px solid darkcyan;
   border-radius: 0;
   outline: none;
   padding: 4px;
}
.list-type-box {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 8px;
   width: 100%;
   margin: 7px 0;
}
.list-type {
   width: 100%;
   border-radius: 4px;
   font-size: 9px;
   text-align: center;
   padding: 5px;
   font-weight: bold;
}
.page-list {
   display: flex;
   flex-direction: column;
   overflow: scroll;
   height: calc(100% - 147px);
}
.fu-grup, .as-grup {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   font-size: 15px;
   padding: 3px;
   border: 1.5px solid;
   border-radius: 7px;
   margin: 5px 0;
}


.b-out { border-color: red !important;}
.b-on_progres { border-color: deepskyblue !important;}
.b-pending { border-color: gold !important;}
.b-success { border-color: limegreen !important;}
.b-fail { border-color: black !important;}

.b-prepare { border-color: limegreen !important;}
.b-shipping { border-color: purple !important;}
.b-delivery { border-color: red !important;}
.b-ready { border-color: blue !important;}
.b-instal { border-color: gold !important;}
.b-past { border-color: black !important;}

.f-out, .f-delivery {
   color: red !important;
}
.f-progres, .f-ready {
   color: deepskyblue !important;
}
.f-prepare {
   color: limegreen !important;
}
.fu-head, .as-head {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 4px 10px;
   border-radius: 3px 3px 0 0;
   font-weight: bold;
   color: white;
}
.fu-call, .as-call {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin: 3px 0;
   padding: 4px;
   border-top: 1.2px solid;
   border-bottom: 1.2px solid;
   font-weight: bold;
}

.fu-call a {
   text-decoration: none;
   color: #124;
}
.fu-note {
   font-size: 10px;
   margin: 0;
}

.as-name {
   font-weight: bolder;
   margin: 2px 0;
   padding: 0 5px;
   font-size: 16px;
}
.as-date {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%;
   margin-bottom: 3px;
   gap: 2px;
}
.as-dates {
   font-size: 10px;
   font-weight: bold;
   padding: 0px 7px;
   border-radius: 4px;
   text-align: center;
}
.as-note {
   font-size: 13px;
   margin: 0;
   text-align: justify;
}
.add-form {
   padding: 0;
   width: 100%;
   overflow: scroll;
   overflow-x: hidden;
   height: calc(100% - 50px);
}
#as-form ~ input.form-control::placeholder {
   color: lightgray !important;
}
.input-grup {
   display: flex;
   justify-content: stretch;
   position: relative;
   max-width: 100%;
   gap: 2px;
   margin: 0 3.2px;
}
.input-grup span {
   position: absolute;
   top: -9px;
   left: 10px;
   font-size: 10px;
   padding: 0 4px;
   background: white;
   color: gray;
   font-weight: bolder;
   border-radius: 4px;
}
.reciept-grup {
   display: flex;
   justify-content: center;
   font-size: 16px;
   padding: 3px 20px;
   width: fit-content;
   margin: 10px auto 4px;
   border: 1px solid darkcyan;
   border-radius: 4px;
   position: relative;
   top: 0;
}
.reciept-grup::before, .reciept-grup::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   outline: 1px solid lightgray;
}
.reciept-grup::before {
   background: linear-gradient(45deg, lightgray, white);
   border-radius: 0 4px 4px 0;
   right: calc(100% + 7px);
}
.reciept-grup::after {
   background: linear-gradient(-45deg, lightgray, white);
   border-radius: 4px 0 0 4px;
   left: calc(100% + 7px);
}
.rec-ket{
   font-size: 10px;
   padding: 0 5px;
   font-weight: bold;
   position: absolute;
   top: -12px;
   color: darkcyan;
   left: 50%;
   transform: translateX(-50%);
   background: white;
}
.reciept-grup input {
   padding: 0;
   margin: 0;
   color: darkcyan !important;
   font-weight: bold;
}
.reciept-grup input::placeholder {
   font-weight: 100;
   color: lightgrey;
}
#UG8 {
   width: 35px;
   text-align: center !important;
   background: transparent;
   border: none !important;
   outline: none !important;
   color: black;
}
#cashier {
   width: 20px;
   text-align: center !important;
   background: transparent;
   border: none !important;
   outline: none !important;
}
#reciept-date {
   width: 85px;
   text-align: center !important;
   background: transparent;
   border: none !important;
   outline: none !important;
   color: black;
}
#order {
   width: 20px;
   text-align: center !important;
   background: transparent;
   border: none !important;
   outline: none !important;
   color: black;
}
#reciept-date-input {
   position: fixed;
   top: -20%;
}
#cust-name {
   width: calc(100% - 40px);
}
.form-check {
   width: 30px;
   position: relative;
   align-self: flex-start;
   border: 2px solid darkcyan;
}
.form-check::after {
   content: attr(data-content);
   position: absolute;
   top: 100%;
   left: 50%;
   transform: translateX(-50%);
   font-size: 8px;
   color: darkcyan;
   font-weight: bolder;
   width: 200%;
   text-align: center;
   text-transform: uppercase;
}

#total-as, #total-fu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 15px;
   width: 100%;
   height: fit-content;
   margin: 0 0 5px;
   padding: 10px;
   color: white;
   font-weight: bolder;
   border-radius: 4px;
   background: linear-gradient(45deg, darkcyan,  darkcyan);
}
#total-as p, #total-fu p {
   margin: 0;
   padding: 0
}


.goods-grup {
   padding: 7px 0;
   margin: 10px 5px;
   border-top: 2px solid darkcyan;
}
.goods-grup .grup-in {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0;
   margin: 0 0 3px;
}
.goods-grup .grup-in input {
   font-size: 13px;
   padding: 3px 5px;
}
.goods-grup .grup-in i {
   background: red;
   color: white;
   padding: 7px;
   text-align: center;
   font-size: 14px;
   border-radius: 3px;
}

.row {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   padding: 0 5px !important;
   margin: 0;
}
.row .input-grup {
   max-width: 49% !important;
   margin: 0 !important;
   padding: 0 !important;
}
.other-input {
   display: flex;
   justify-content: space-evenly;
}
input.other-inputs {
   height: 30px;
   width: 30px;
   position: relative;
   padding: 0 !important;
   margin: 0 !important;
}
input.other-inputs::after {
   content: attr(data-other);
   font-size: 10px;
   position: absolute;
   padding: 0;
   margin: 0;
   top: 100%;
   left: 50%;
   transform: translateX(-50%);
   width: 400%;
   color: darkcyan;
   text-transform: uppercase;
   text-align: center;
   font-weight: bolder;
}

div#fu-add-list {
   padding: 10px 0 0;
   overflow: scroll;
   height: calc(100% - 80px);
   position: relative;
}



/* settings css */

#SETTING {
   overflow: hidden;
}
#setting-roll {
   height: calc(100% - 100px);
   overflow: scroll;
   padding: 4px;
}

.sch-groups {
   display: flex;
   justify-content: flex-start;
}
.sch-groups .sch-date {
   padding: 7px 0;
   width: 50px;
   text-align: center;
   background: darkcyan;
   font-size: 13px;
   margin-right: 5px;
   border-radius: 5px;
   font-weight: bold;
   color: white;
}
.sch-groups.OFF .sch-date, .sch-groups.RO .sch-date, .sch-groups.AL .sch-date{
   background: red;
}
.sch-groups.M0029 .sch-date {
   background: yellow;
}
.sch-groups.M0058 .sch-date {
   background: goldenrod;
}
.sch-groups.H44 .sch-date {
   background: orangered;
}
.sch-groups.A0003 .sch-date {
   background: blue;
}



/* TODAYS */

.todays-grup {
   padding: 4px 10px;
   border-radius: 4px;
   margin: 4px 0;
   display: block;
   position: relative;
}
.todays-grup:hover .td-grup-top {
   display: block;
}
.td-grup-top {
   display: none;
   position: absolute;
   bottom: calc(100% + 4px);
   left: 0px;
   background: rgba(0,0,0,.8);
   color: white;
   font-weight: bolder;
   font-size: 9px;
   width: 100%;
   padding: 3px 7px;
   border-radius: 3px;
}
.td-grup-top p {
   padding: 0;
   margin: 0;
}
.td-grup-bottom {
   display: flex;
   justify-content: space-between;
   font-size: 13px;
   align-items: center;
   margin: 0;
   padding: 0;
   gap: 10px;
}
.td-grup-bottom i.fa-chevron-right{
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid white;
   margin-left: 10px;
   border-radius: 4px;
   width: 30px;
   aspect-ratio: 1;
}
.td-grup-top span, .td-grup-bottom span {
   width: 100%;
   display: block;
   font-weight: bold;
}
.td-grup-top i {
   margin: 0;
   margin-left: 4px;
}